html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.background-cadastro{
    background-image: linear-gradient(0deg, blueviolet, black, darkblue);
}


main {
    flex: 1;
    /* ocupa o espaço restante */
}

.login-card{
            background: #ffffff;
            width: 420px;
            max-height: 1000px; /* mantém formato quadrado */
            border-radius: 12px;
            box-shadow: 0 8px 30px rgba(0,0,0,0.12);
            padding: 28px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        
        @media (max-width: 480px){
            .login-card{
                width: 90vw;
                height: 90vw;
                padding: 20px;
            }
        }

        .link-card {
            display: block;
            margin-top: 8px;
            color: darkblue;
            text-decoration: none;
        }

.topo {
   background-color: #ff6600;
}

.rodape {
    background-color: #ff6600;
    width: 100%;
    padding: 15px;
    color: white;

}

.texto-rodape {
    margin: 1%;
    margin-left: 25%;
    ;
}

.texto-centro{
    text-align: center;
}


.flax {
    display: flex;
}

.branco {
    color: white;
}
